body {
    font-size: 15px;
    background: url(https://cdn.jsdelivr.net/gh/RomEYer-AwELF/CDNimg/img/500525466.jpg);
    background-attachment: fixed;
}
.mdui-theme-primary-blue-grey .mdui-color-theme {
  color: #7e7e7e!important;
  background-color: #fff!important;
}
.mdui-appbar .mdui-toolbar {
  height: 75px;
  font-size: 16px;
}
.mdui-textfield.mdui-textfield-floating-label.mdui-textfield-focus {
  color: #ff4081!important;
}