body {
    font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.87);
    background: url(https://cdn.jsdelivr.net/gh/RomEYer-AwELF/CDNimg/img/500525466.jpg);
}
.mdui-drawer {
    width: 260px;
}
.mdui-drawer {
	background-color: rgb(254,254,254,.8);
}
.mdui-theme-primary-indigo .mdui-color-theme {
    color: #7e7e7e!important;
    background-color: #fff!important;
}
.mdui-theme-accent-blue .mdui-color-theme-accent {
    color: #7e7e7e!important;
    background-color: #fff!important;
}
.mdui-switch input[type=checkbox]:checked+.mdui-switch-icon:before {
    left: 20px;
    background-color: #ff4081!important;
}
.mdui-switch input[type=checkbox]:checked+.mdui-switch-icon {
    background-color: rgba(255,64,129,.5)!important;
}
.mdui-switch-icon {
    left: 4px;
}
.mdui-theme-accent-blue .mdui-typo a {
	color: #ff4081!important;
}
.mdui-theme-accent-blue .mdui-typo a:before {
	background-color: #ff4081!important;
}