      .pattern-center {
         position: relative;
         top: 0;
         left: 0;
         width: 900px;
         overflow: hidden;
         margin: 0 auto;
      }
      .site-content {
        max-width: 900px;
        background-color: rgba(255,255,255,.8);
      }
      .site-footer {
        max-width: 900px;
        background-color: rgba(255,255,255,.8);
      }
      body {
        background: url(https://cdn.jsdelivr.net/gh/RomEYer-AwELF/CDNimg/img/500525466.jpg);
        background-attachment: fixed;
      }
      .post-footer {
        height: 10%;
      }
      .post-footer {
        font-size: 15px;
      }
      .toc {
        right: calc((100% - 1100px - 250px) / 2);
      }
      .site-main {
        margin-left: 3%;
        margin-right: 3%;
      }
      * {
        moz-user-select: -moz-none;
        -moz-user-select: none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (max-width: 860px){
      .pattern-center header.single-header {
        left: -100px;
      }
      }
